<header>
<nav class="navbar navbar-expand-md sticky-top py-3 navbar-dark" id="mainNav">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">Brand</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item"><a class="nav-link" href="/posts">Posts</a></li>
                    <li class="nav-item"><a class="nav-link" href="/posts/create">Create Post</a></li>
                    <li class="nav-item"><a class="nav-link" href="/metrics">Metrics</a></li>
                }
            </ul>
            @if (!User.Identity.IsAuthenticated)
            {
                <a class="btn btn-primary shadow" role="button" href="/auth/register">Sign up</a>
                <a class="nav-link active" href="/auth/login">Log in</a>
            }
            else
            {
                <a class="btn btn-outline-light shadow" role="button" href="/auth/logout">Logout</a>
            }
        </div>
    </div>
</nav>
</header>