@model SocialMediaManager.Dto.SocialAccount.UpdateSocialAccountDTO
@using SocialMediaManager.Enum

@{
    ViewData["Title"] = "Edit Social Account";
}

<h2>Edit Social Account</h2>

<form asp-action="UpdateAction" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="UsernameOnPlatform" class="control-label"></label>
        <input asp-for="UsernameOnPlatform" class="form-control" />
        <span asp-validation-for="UsernameOnPlatform" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AccessToken" class="control-label"></label>
        <input asp-for="AccessToken" class="form-control" />
        <span asp-validation-for="AccessToken" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RefreshToken" class="control-label"></label>
        <input asp-for="RefreshToken" class="form-control" />
        <span asp-validation-for="RefreshToken" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Platforms" class="control-label"></label>
        <select asp-for="Platforms" asp-items="Html.GetEnumSelectList<Platform>()" class="form-control"></select>
        <span asp-validation-for="Platforms" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
